<form class="" class="todo-item-dialog" data-dojo-type="dijit/form/Form">
  <div class="row">
    <div class="columns small-4">
      <b>To Do Item</b>
    </div>
    <div class="columns small-8">
      <input data-dojo-type="dijit/form/TextBox" class="to-do-item">
    </div>
  </div>
  <div class="row">
    <div class="columns small-4">
      <b>Date to Complete</b>
    </div>
    <div class="columns small-8">
      <input data-dojo-type="dijit/form/DateTextBox" class="to-do-date">
    </div>
  </div>
  <div class="dijitDialogPaneActionBar">
    <button data-dojo-type="dijit/form/Button" class="cancel-button"></button>
    <button data-dojo-type="dijit/form/Button" class="save-button"></button>
  </div>
</form>
